body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3479px;
  height:228px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:3478px;
  height:227px;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:1950px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:450px;
  height:1949px;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3029px;
  height:1950px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:230px;
  width:3028px;
  height:1949px;
}
#u2150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:3312px;
  top:81px;
  width:72px;
  height:72px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:82px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:72px;
  width:87px;
  height:81px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:91px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:72px;
  width:310px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u2153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:306px;
  word-wrap:break-word;
}
#u2154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:77px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:267px;
  width:371px;
  height:76px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:31px;
  width:341px;
  word-wrap:break-word;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:288px;
  width:33px;
  height:36px;
  font-size:12px;
  color:#666666;
}
#u2155_img.mouseOver {
}
#u2155.mouseOver {
}
#u2155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:372px;
  width:450px;
  height:98px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:470px;
  width:450px;
  height:98px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:666px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:764px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:862px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:960px;
  width:450px;
  height:98px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1058px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1156px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:402px;
  width:24px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2165_img.mouseOver {
}
#u2165.mouseOver {
}
#u2165_img.selected {
}
#u2165.selected {
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:500px;
  width:24px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2166_img.mouseOver {
}
#u2166.mouseOver {
}
#u2166_img.selected {
}
#u2166.selected {
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:990px;
  width:24px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2167_img.mouseOver {
}
#u2167.mouseOver {
}
#u2167_img.selected {
}
#u2167.selected {
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1254px;
  width:450px;
  height:98px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1284px;
  width:24px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2169_img.mouseOver {
}
#u2169.mouseOver {
}
#u2169_img.selected {
}
#u2169.selected {
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1352px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:506px;
  width:31px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:996px;
  width:31px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:1290px;
  width:31px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:175px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:267px;
  width:349px;
  height:174px;
  font-size:72px;
  color:#1E1E1E;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:345px;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:52px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:340px;
  width:95px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:91px;
  word-wrap:break-word;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:1438px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:542px;
  width:2852px;
  height:1437px;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2001px;
  width:127px;
  height:46px;
}
#u2177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u2177_input:disabled {
  color:grayText;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:2012px;
  width:60px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:66px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:542px;
  width:2852px;
  height:65px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:566px;
  width:19px;
  height:19px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:565px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:1483px;
  top:565px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:1852px;
  top:565px;
  width:56px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:565px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:23px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:2724px;
  top:565px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:636px;
  width:1px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:606px;
  width:2852px;
  height:153px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:758px;
  width:2852px;
  height:153px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:661px;
  width:63px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:813px;
  width:73px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:27px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:661px;
  width:170px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:813px;
  width:158px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:661px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:813px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:661px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:813px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:661px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:813px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:661px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:813px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:481px;
  width:165px;
  height:46px;
}
#u2201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u2201_input:disabled {
  color:grayText;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:498px;
  width:60px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:481px;
  width:127px;
  height:46px;
}
#u2203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u2203_input:disabled {
  color:grayText;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:23px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:441px;
  width:284px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  white-space:nowrap;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:2917px;
  top:481px;
  width:467px;
  height:46px;
}
#u2205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:911px;
  width:2852px;
  height:153px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1063px;
  width:2852px;
  height:153px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:27px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:966px;
  width:76px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1118px;
  width:124px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:27px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:966px;
  width:170px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:1118px;
  width:158px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:966px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:1118px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:966px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:1118px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:966px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:1118px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:966px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:1118px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1216px;
  width:2852px;
  height:153px;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1368px;
  width:2852px;
  height:153px;
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1271px;
  width:91px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:27px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1423px;
  width:85px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:27px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:1271px;
  width:170px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:1423px;
  width:158px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:1271px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:1423px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:1271px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:1423px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:1271px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:1423px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:1271px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:1423px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1521px;
  width:2852px;
  height:153px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1673px;
  width:2852px;
  height:153px;
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:27px;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1576px;
  width:130px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1728px;
  width:99px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:27px;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:1576px;
  width:170px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:27px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:1423px;
  top:1728px;
  width:158px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:1576px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:1728px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:1576px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:1728px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:1576px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:1728px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:1576px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:1728px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:154px;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1826px;
  width:2852px;
  height:153px;
}
#u2248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:1881px;
  width:79px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:27px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:1881px;
  width:170px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:1849px;
  top:1881px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:2288px;
  top:1881px;
  width:19px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:2690px;
  top:1881px;
  width:107px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:27px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:3199px;
  top:1881px;
  width:41px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:668px;
  width:19px;
  height:19px;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:817px;
  width:19px;
  height:19px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:970px;
  width:19px;
  height:19px;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1122px;
  width:19px;
  height:19px;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1275px;
  width:19px;
  height:19px;
}
#u2259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1427px;
  width:19px;
  height:19px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1579px;
  width:19px;
  height:19px;
}
#u2261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1732px;
  width:19px;
  height:19px;
}
#u2262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1885px;
  width:19px;
  height:19px;
}
#u2263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:642px;
  width:152px;
  height:99px;
}
#u2264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:793px;
  width:152px;
  height:99px;
}
#u2265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:947px;
  width:152px;
  height:99px;
}
#u2266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:1107px;
  width:152px;
  height:99px;
}
#u2267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1259px;
  width:152px;
  height:99px;
}
#u2268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1412px;
  width:152px;
  height:99px;
}
#u2269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:1557px;
  width:152px;
  height:99px;
}
#u2270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1709px;
  width:152px;
  height:99px;
}
#u2271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:99px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1863px;
  width:152px;
  height:99px;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
