body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3479px;
  height:228px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3478px;
  height:227px;
}
#u2554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:1950px;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:227px;
  width:450px;
  height:1949px;
}
#u2555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3029px;
  height:1950px;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:227px;
  width:3028px;
  height:1949px;
}
#u2556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:3312px;
  top:78px;
  width:72px;
  height:72px;
}
#u2557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:82px;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:69px;
  width:87px;
  height:81px;
}
#u2558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:91px;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:69px;
  width:310px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u2559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:306px;
  word-wrap:break-word;
}
#u2560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:77px;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:264px;
  width:371px;
  height:76px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u2560_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:31px;
  width:341px;
  word-wrap:break-word;
}
#u2561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:37px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:285px;
  width:33px;
  height:36px;
  font-size:12px;
  color:#666666;
}
#u2561_img.mouseOver {
}
#u2561.mouseOver {
}
#u2561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:450px;
  height:98px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:467px;
  width:450px;
  height:98px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2563_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:663px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:565px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:761px;
  width:450px;
  height:98px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:859px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:957px;
  width:450px;
  height:98px;
  font-size:36px;
}
#u2568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:399px;
  width:24px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2569_img.mouseOver {
}
#u2569.mouseOver {
}
#u2569_img.selected {
}
#u2569.selected {
}
#u2569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:497px;
  width:24px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2570_img.mouseOver {
}
#u2570.mouseOver {
}
#u2570_img.selected {
}
#u2570.selected {
}
#u2570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:791px;
  width:24px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2571_img.mouseOver {
}
#u2571.mouseOver {
}
#u2571_img.selected {
}
#u2571.selected {
}
#u2571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:99px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1055px;
  width:450px;
  height:98px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u2572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:446px;
  word-wrap:break-word;
}
#u2573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:503px;
  width:31px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:797px;
  width:31px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:339px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:549px;
  width:653px;
  height:338px;
}
#u2575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:339px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:549px;
  width:653px;
  height:338px;
}
#u2576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:339px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:2009px;
  top:549px;
  width:653px;
  height:338px;
}
#u2577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:128px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:583px;
  width:319px;
  height:127px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#1E1E1E;
}
#u2578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:315px;
  word-wrap:break-word;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:128px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:698px;
  width:411px;
  height:127px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#1E1E1E;
}
#u2579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:407px;
  word-wrap:break-word;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:128px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:583px;
  width:360px;
  height:127px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#1E1E1E;
}
#u2580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:356px;
  word-wrap:break-word;
}
#u2581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:128px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:710px;
  width:411px;
  height:127px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#1E1E1E;
}
#u2581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:407px;
  word-wrap:break-word;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:128px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:2122px;
  top:583px;
  width:356px;
  height:127px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#1E1E1E;
}
#u2582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:352px;
  word-wrap:break-word;
}
#u2583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:128px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:2130px;
  top:698px;
  width:411px;
  height:127px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#1E1E1E;
}
#u2583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:407px;
  word-wrap:break-word;
}
#u2584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:339px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:2758px;
  top:549px;
  width:653px;
  height:338px;
}
#u2584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:128px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:2808px;
  top:583px;
  width:319px;
  height:127px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#1E1E1E;
}
#u2585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:315px;
  word-wrap:break-word;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:128px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:2879px;
  top:698px;
  width:411px;
  height:127px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:72px;
  color:#1E1E1E;
}
#u2586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:407px;
  word-wrap:break-word;
}
#u2587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:175px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:264px;
  width:564px;
  height:174px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#1E1E1E;
}
#u2587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:560px;
  word-wrap:break-word;
}
#u2588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:467px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:38px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:982px;
  width:257px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2853px;
  height:559px;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1055px;
  width:2852px;
  height:558px;
}
#u2590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2661px;
  height:420px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1164px;
  width:2660px;
  height:419px;
}
#u2591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:414px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1728px;
  width:1305px;
  height:413px;
}
#u2592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:1681px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1074px;
  width:289px;
  height:65px;
}
#u2594_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:65px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u2594_input:disabled {
  color:grayText;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:1074px;
  width:489px;
  height:65px;
}
#u2595_input {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:65px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u2595_input:disabled {
  color:grayText;
}
#u2596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:414px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:2079px;
  top:1728px;
  width:1305px;
  height:413px;
}
#u2596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:2106px;
  top:1681px;
  width:161px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:1772px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:1833px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:1895px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:1956px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:2017px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:2078px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1306px;
  height:414px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:2106px;
  top:1718px;
  width:1305px;
  height:413px;
}
#u2604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:2151px;
  top:1762px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:2151px;
  top:1823px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:2151px;
  top:1885px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:2151px;
  top:1946px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:2151px;
  top:2007px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:38px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:2151px;
  top:2068px;
  width:1071px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  word-wrap:break-word;
}
